# Godot 4+ specific ignores
.godot/
/android/
*.translation
scripts/autoload/level_manager.gd
Dash and Crunch.pck
Dash and Crunch.exe
.gitignore
Dash and Crunch.sh
Dash and Crunch.x86_64
Dash and Crunch.console.exe
export_presets.cfg
export_presets.cfg
